result
result-*
.direnv/
.nix-profile/
.nix-defexpr/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~
.DS_Store

.svelte-kit/
node_modules/
.npm/
.pnpm-store/

.env
.env.local
.envrc
.envrc.local
